.main-screen-child,
.main-screen-item {
  position: absolute;
  top: 167px;
  left: 370px;
  background-color: var(--color-whitesmoke);
  width: 16px;
  height: 2400px;
  border-radius: var(--br-11xl);
}
.main-screen-item {
  top: 172px;
  left: 374px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgray);
  width: 8px;
  height: 1000px;
}

img {
  width: 100%;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.repeat-grid-2 {
  position: absolute;
  top: 167px;
  right: 50px;
  width: 597px;
  /* height: 1895px; */
}
.zelf-samenstellen {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: 500;
}
.zelf-samenstellen-wrapper {
  top: 0;
}
.salades-wrapper,
.signature-series-wrapper,
.submelts-wrapper,
.subs-wrapper,
.wraps-wrapper,
.zelf-samenstellen-wrapper {
  position: absolute;
  width: calc(100% - 7px);
  right: 9px;
  left: -2px;
  height: 222px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.signature-series-wrapper {
  top: 242px;
}
.salades-wrapper,
.submelts-wrapper,
.subs-wrapper,
.wraps-wrapper {
  top: calc(50% - 716px);
}
.salades-wrapper,
.subs-wrapper,
.wraps-wrapper {
  top: calc(50% - 474px);
}
.salades-wrapper,
.wraps-wrapper {
  top: calc(50% - 232px);
}
.salades-wrapper {
  top: calc(50% + 10px);
}
.daily-deals-wrapper {
  top: calc(50% + 252px);
}
.breakfast-wrapper,
.daily-deals-wrapper,
.dranken-extras-wrapper,
.kids-pak-wrapper {
  position: absolute;
  width: calc(100% - 7px);
  right: 9px;
  left: -2px;
  height: 222px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.breakfast-wrapper {
  top: calc(50% + 494px);
}
.dranken-extras-wrapper,
.kids-pak-wrapper {
  bottom: 242px;
}
.dranken-extras-wrapper {
  bottom: 0;
}
.repeat-grid-1 {
  position: absolute;
  top: 167px;
  left: 50px;
  width: 323px;
  height: 2400px;
}
.main-screen-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1080px;
  height: 167px;
}
.signature-series1 {
  position: absolute;
  top: 82px;
  left: 433px;
  font-size: var(--font-size-23xl);
  font-weight: 500;
}
.subway-2016-logosvg-icon1 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 333px;
  height: 67px;
  object-fit: cover;
}
.main-screen {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2600px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray);
  font-family: var(--font-dubai);
}
